*{
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html, body {
    height: 100%;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/* ==============================Start custom CSS =============================================*/
.header-section {
    background: rgba(221, 223, 224, 0.3);
    padding-bottom: 3rem;
}

.mobile-nav-list {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #EC5242;
    opacity: 0.9;
}

.mobile-nav-list.active {
    display: block;

}

.mobile-nav-item a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding-top: 3rem;
    font-size: 1.7em;
    font-size: 400;
   
}

#hamburger-menu {
    font-size: 2rem;
    color: #272A31;
    margin: 3rem 0 0 1rem;
}

.close-menu {
    font-size: 1.7rem;
    color: #ffffff;
    float: right;
    margin:1rem 2rem 0 0;
}

.banner-row {
    margin:2rem 1rem 2rem 1rem;
}

.banner-col-1 h5 {
    font-family: 'Lato';
    color: #EC5242;
    font-size:larger;
}

.banner-col-1 h1 {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: clamp(2rem, 2rem + 10vw, 2rem);
    font-weight: 800;
    color: transparent;
    text-transform: uppercase;
    background-image: url(images/text-mask.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}
.banner-text {
    font-family: 'Lato';
    color: #272A31;
    border: solid 5px #ffffff;
    padding: 0.4em;
    margin: 2em 0;
    font-weight: 700;
    font-size: 0.9rem;
}
.banner-date p {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 0.9rem;
}
.banner-date h4 {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: clamp(2rem, 2rem + 5vw, 2rem);
    color: #272A31;
}
.banner-location {
    font-family: 'Lato';
    color: #272A31;
}
.banner-col-2 {
    margin-top: 2rem;
}

/*================ Star of Program =====================================================*/
.main-program {
    background-color: #272A31;      
}
.main-program h3 {
    color: #ffffff;
    text-align: center;
    padding-top: 3rem;
    font-family: 'Lato';
}
.section-title::after {
    content: "";
    width: 3rem;
    height: 0.1rem;
    margin: 0.8rem auto;
    padding-top: 0.1rem;
    display: block;
    margin-bottom: 1rem;
    background-color: #EC5242;
}

.program-col {
    display: flex;
    gap: 10px;
    background: rgba(221, 223, 224, 0.1);
    margin: 1rem 1rem;
    padding: 1rem;
}
.program-icon {
    width: 40px;
}
.program-title{
    color:#EC5242;
    font-weight: 700;
    font-family: 'Lato';
    font-size: 1rem;
}
.program-details{
    color:#ffffff;
    font-size: 12px;
    font-family: 'Lato';
    font-weight: 400;
}
.signup-btn {
    width: 70%;
    margin: 3rem 3rem;
    border: none;
    background-color:#EC5242;
    padding: 1.5rem 2rem;
    
}
.signup-btn a {
    color: #ffffff;
    font-family: 'Lato';
    font-size: 1.5rem;
    text-decoration: none;
}
/* ==================================Start of Tutor Section=================================================================================*/
.featured-tutors {
    padding-bottom: 4rem;
}
.featured-tutors h3 {
    color: #272A31;
    text-align: center;
    padding-top: 3rem;
    font-size: 1.5rem;
    font-family: 'Lato';
}

.tutor-img {
    width: 170px;
    height: 140px;
}

.col-tutor {
    display: flex;
    padding-left: 1em;
}
.speaker-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.7em 0.7em 0 1em;
}
.tutor-title {
    color: #272A31;
    font-family: 'lato';
    font-weight: 600;
    font-size: 1.2rem;
}
.tutor-quote {
    color: #EC5242;
    font-family: 'lato';
    font-style: italic;
    font-size: 0.9rem;
}
.tutor-quote::after {
    content: "";
    width: 3rem;
    height: 0.1rem;
    margin: 0.2rem 0.5rem;
    padding-top: 0.1rem;
    display: block;
    background-color: #d3d3d3;
}
.tutor-details {
    color: #272A31;
    font-family: 'lato';
    font-size: 1rem;

}
.more-tutors {
    margin: 2.6rem 1.5rem;
    padding: 0.7em 1em;
    border: solid 2px #d3d3d3;
    width: 80%;
    border-radius: 5px;
}
.more-tutors a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #272A31;
    font-size: 1rem;
    font-family: 'lato';
}
.more-tutors a i {
    color: #EC5242;
    padding-left: 1rem;
    font-size: 1.5rem;
}

 /*======================================Start of About Page===================================================================================*/

 .about-header {
    background: rgba(221, 223, 224, 0.8); 
 }
 .about-banner h5 {
    font-family: 'Lato';
    color: #EC5242;
    font-size:larger;
    text-align: center;
    padding-bottom: 0.4rem;
 }
 .about-banner {
    margin: 3rem 1.5rem;
    padding-bottom: 3rem;
 }
 .about-banner h1 {
    font-family: 'COCOGOOSE', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: transparent;
    text-transform: uppercase;
    background-image: url(images/text-mask.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
 }
 
 .about-banner-text {
    background: #ffffff;
    border: solid 2px #d3d3d3;
    font-family: 'Lato';
    color: #272A31;
    padding: 0.4em;
    margin: 1.5em 0;
 }
 
 .about-text-top{
    font-family: 'Lato';
    color: #272A31;
 }
 .about-text{
    text-align: center;
    font-family: 'Lato';
    color: #272A31;
    padding-top: 0.4rem;
 }
 .about-email{
    text-align: center;
    padding-top: 0.4rem;
 }
 .about-email a{
    font-family: 'Lato';
    color: #272A31;
    font-weight: 700;
 }

 .campus-section-title::after {
    content: "";
    width: 3rem;
    height: 0.1rem;
    margin: 0.8rem auto;
    padding-top: 0.1rem;
    display: block;
    margin-bottom: 1rem;
    background-color: #EC5242;
}
.campus-section h3 {
    font-family: 'lato';
    font-weight: 600;
    text-align: center;
    color: #272A31;
}
.campus-details {
  text-align: center;
  font-family: 'lato';
  color: #272A31;
}
.col-campus{
    margin: 2rem;   
}
.campus-text{
    font-family: 'lato';
    font-weight: 900;
    color: #ffffff;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
    text-align: center;
}
.start-date {
    font-size: 1rem;
    font-weight: 600;
}
.col-campus.nairobi{
   background-image: linear-gradient(rgba(236,82,66,0.68),rgba(236,82,66,0.68)),url(images/nairobi.jpg);
   background-size: cover;
   background-repeat: none;
   min-height: 250px;
}
.col-campus.mombasa{
   background-image: linear-gradient(rgba(236,82,66,0.68),rgba(236,82,66,0.68)),url(images/mombasa.jpg);
   background-size: cover;
   background-repeat: none;
   min-height: 250px;
}
.col-campus.westlands{
   background-image: linear-gradient(rgba(236,82,66,0.68),rgba(236,82,66,0.68)),url(images/westlands.jpg);
   background-size: cover;
   background-repeat: none;
   min-height: 250px;
}
/*===========================================  Partners Section  ===============================================================*/
.partners {
    background-color: #272A31;
    padding-bottom: 4rem;
}
.partners h3 {
    font-family: 'lato';
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    padding-top: 3rem;
}

.partners h3::after {
    content: "";
    width: 3rem;
    height: 0.1rem;
    margin: 0.8rem auto;
    padding-top: 0.1rem;
    display: block;
    margin-bottom: 1rem;
    background-color: #EC5242;
}
.partner-list{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    margin: 0 0.5rem;
}
.logo-item i{
    font-size: 1.2rem;
    font-weight: 400;
    color: #d3d3d3;
}
/* =========================================== Footer Section ======================================================================*/
.footer-section {
    font-family: 'lato';
    font-weight: 600;
    background: rgba(221, 223, 224, 0.3); 
    color: #272A31;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    padding: 2rem 0 1rem 0;

}
.reserved {
    font-family: 'lato';
    font-weight: 600;
    color: #272A31;
    padding-top: 1rem;
}

@media screen and (max-width:767px){
    .desktop-nav {
        display: none;
    }
    .desktop-top-nav {
        display: none;

    }
    .whole-program {
        display: none;
    }
       
}
/*=============================================  Desktop View  ==============================================================*/
@media screen and (min-width:768px){
    #hamburger-menu {
        display: none;
    }
    .desktop-top-nav {
        background-color: #272A31;
        position: fixed;
        top: 0;
        left:0;
        right: 0;
    }
    .top-nav-lists {
        display: flex;
        justify-content: end;
    }
    li.top-nav-items {
        list-style: none;
        padding-right: 1rem;
    }
    li.top-nav-items a {
        color:#d3d3d3;
    }
    li.top-nav-items a:hover{
        color: #EC5242;
    }
    .logo{
        cursor: pointer;
    }
    .desktop-nav {
        display: flex;
        position: fixed;
        top:1.5rem;
        justify-content: space-around;
        width: 100%;
        background-color: #ffffff;
        padding: 1.5rem 0;
        box-shadow: 0 2px #d3d3d3;
    }
    .desktop-list {
        display: flex;
    }
    .desktop-items {
        list-style: none;
        padding-right: 3rem;
        padding: 0.6rem 1.6rem;
    }
    li.desktop-items a{
      font-family: 'lato';
      font-weight: 300;
      text-align: center;
      color: #272A31;
      cursor: pointer;
      text-decoration: none;


    }
    li.desktop-items a:hover{
        color: #EC5242;

    }
    li.desktop-items.button{
        border: 4px solid #EC5242;
        padding: 0.6rem 1.6rem;
      }
      li.desktop-items.button a{
        color: #EC5242;
      }
  
   /*===========================================  Banner Section  ========================================================================*/
   .banner {
    padding-top: 150px;
  }
 .banner-row {
    display: flex;
    justify-content: space-between;
 }
 .banner-col-1 {
    width: 52%;
    margin-left: 6%;
 }
 .banner-text {
    width: 75%;
 }
 .banner-col-2 {
    width: 35%;
    margin-right: 4%;
 }
 .banner-col-1 h1{
    font-size: 2.9rem;
 }
 /*========================================= Program section  =========================================================================*/
 .program-row {
    display: flex;
    margin: 0 3rem;
 }
 .program-col{
    display: flex;
    flex-direction: column;
    align-items: center; 
 }
 .signup-btn {
    display: none;
 }
 .whole-program{
    padding: 5rem 0;
    text-align: center;
    text-transform: uppercase;
 }
 .whole-program a{
    color: #d3d3d3;
    font-family: 'lato';
    font-weight: 500;
    font-size: 1.1rem;
 }
 .whole-program a:hover{
    color: #EC5242;
 }
 /*===============================================   Tutors Section  =======================================================================*/
 .featured-tutors {
    background: rgba(221, 223, 224, 0.3); 
 }
 .row-tutors {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .col-tutor {
    width: 40%;
    padding-top: 3rem;
 }
 .tutor-img {
    width: 25%;
    height: 25%;
 }
 .speaker-text {
    padding-right: 3rem;
 }
 .more-tutors {
    display: none;
 }
 /*==================================================== Partners Section ==================================================================*/
 .partner-list {
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding-top: 2rem;
 }
 

 /*====================================================  About Section   ==================================================================*/
 .about-banner {
    padding-top: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-banner h1 {
    font-size: 2.8rem;
    text-align: center;
    width: 50%;
  }
  .about-banner-text {
    width: 50%;
  }
  .campus-row {
    display: flex;
    justify-content: center;
    flex-basis: 25%;
  }
  .col-campus {
    width: 100%;
  }
  .campus-text {
    text-align: center;
  }
 
}